@model Lab0002.Models.Product

<h2>Thông tin sản phẩm </h2>
<div>
    <h4>Name: @Model.Name</h4>
    <h4>Price: @Model.Price</h4>
    <h4>Description: @Model.Description</h4>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Model.ImageUrl" alt="Product Image" style="width: 300px; height: auto;" />
    }
    @if (Model.ImageUrls != null && Model.ImageUrls.Any())
    {
        foreach (var imageUrl in Model.ImageUrls)
        {
            <img src="@imageUrl" alt="Product Image" style="width: 300px; height: auto;" />
        }
    }
</div>

<a asp-action="Index">Back to List</a>